USE [CustomerManagementDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/16/2026 10:30:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 9/16/2026 10:30:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260915132229_InitialCreate', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Code], [FullName], [Email], [Phone], [DateOfBirth], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (7, N'KH0004', N'Trần Đặng Tuấn', N'dang@gmail.com', N'0979089632', CAST(N'1997-03-23T00:00:00.0000000' AS DateTime2), 0, CAST(N'2026-09-16T16:32:34.4497424' AS DateTime2), CAST(N'2026-09-16T17:58:51.6114312' AS DateTime2))
INSERT [dbo].[Customers] ([Id], [Code], [FullName], [Email], [Phone], [DateOfBirth], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (8, N'KH0008', N'Nguyễn Văn a', N'a@gmail.com', N'0993290211', CAST(N'2001-01-30T00:00:00.0000000' AS DateTime2), 0, CAST(N'2026-09-16T16:33:58.4966899' AS DateTime2), CAST(N'2026-09-16T17:58:41.6244622' AS DateTime2))
INSERT [dbo].[Customers] ([Id], [Code], [FullName], [Email], [Phone], [DateOfBirth], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (11, N'KH0009', N'Nguyễn Văn Hoàng', N'thang@gmail.com', N'0989922131', CAST(N'2026-09-22T00:00:00.0000000' AS DateTime2), 1, CAST(N'2026-09-16T19:39:03.6756993' AS DateTime2), CAST(N'2026-09-16T22:28:31.8261038' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
